{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules" : {
        "import/no-unresolved" : 0,
        "react/prop-types" : 0,
        "linebreak-style" : 0
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ]
}